---
bust-cache: yes
order: 30
---
@media screen and (min-width: 1024px) { .container { max-width: 960px;  }}
@media screen and (max-width: 1215px) { .container.is-widescreen { max-width:1152px; }}
@media screen and (max-width: 1407px) { .container.is-fullhd { max-width:1344px;  }}
@media screen and (min-width: 1216px) { .container { max-width: 1152px;  }}
@media screen and (min-width: 1408px) { .container { max-width: 1344px; }} 

.container
   max-width 960px
   margin 0 auto
   position relative
   width auto

html
   background-color Lavender

body
  font-size 16px
  color #080808
  background-color Lavender

a
   color: #3273dc
   text-decoration none

h1, h2, h3
   font-family 'EB Garamond', serif
   font-weight 400
   color #40408B

h1 { font-size: 3.5rem;}
h2 { font-size: 3rem;}
h3 { font-size: 2rem;}

ol
   counter-reset item
   list-style none
   font-family: 'Open Sans', sans-serif
   li
      margin: 0 0 0.5rem 0;
   li:before
      color #008000;
      content counters(item, ".") '\a0'
      counter-increment item
