doctype html
head
   link(rel='stylesheet' href='//fonts.googleapis.com/css?family=Roboto:400,500,700|Open+Sans|EB+Garamond')
   link(rel='stylesheet' href='/.asset/css/gfm.css')
   link(rel='stylesheet' href='/.asset/css/main.css')

   title Ksinoy, constructed language
body
   .section.container
      .columns#tocOuter
         | !{toc}
         .column
            .container !{body}
