---
template: system
---
doctype html
head
   //- "css" are concatenated references to your stylesheets, cache-busted
   | !{css}
   script(src='/asset/main.js')
   title #{title} 20ful example
body
   .section
      .columns
         | !{toc}
         .column
            .container !{body}
